<!DOCTYPE html>
<html>
  <head>
    <title>Gym Reviews</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>Gym Reviews</h1>
      <div class="input-form">
        <h2>Add a Review</h2>
        <input type="text" id="gymNameSubmitInput" placeholder="Enter gym name">
        <input type="text" id="gymAddressSubmitInput" placeholder="Enter gym address">
        <input type="text" id="reviewerNameInput" placeholder="Enter your name">
        <input type="text" id="ratingTextInput" placeholder="Enter your review">
        <input type="int" id="overallRatingInput" placeholder="Enter overall rating">
        <input type="int" id="cleanlinessRatingInput" placeholder="Enter cleanliness rating">
        <input type="int" id="familyFriendlyRatingInput" placeholder="Enter family friendly rating">
        <input type="int" id="intensityRatingInput" placeholder="Enter intensity rating">
        <input type="int" id="qualityOfInstructionRatingInput" placeholder="Enter instructors rating">
        <input type="int" id="priceRatingInput" placeholder="Enter price rating">
        <input type="int" id="safetyRatingInput" placeholder="Enter safety rating">
        <input type="int" id="qualityOfTrainingPartnersRatingInput" placeholder="Enter training partners rating">
        <input type="int" id="warmupsRatingInput" placeholder="Enter warmups rating">
        <input type="int" id="classAvailabilityRatingInput" placeholder="Enter class availability rating">
        <input type="int" id="welcomingOfVisitorsRatingInput" placeholder="Enter visitors welcome rating">
        <input type="int" id="cliqueyRatingInput" placeholder="Enter cliquey rating">
        <input type="int" id="femaleFriendlyRatingInput" placeholder="Enter female friendly rating">
        <button onclick="addReview()">Add Review</button>
      </div>
      <a href="index.html">Go back</a>
    </div>
  </body>
</html>
